<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lq.ren.crazynotes">

    <!--<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>-->
    <!--<uses-permission android:name="android.permission.WRITE_SETTINGS" />-->


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".act.ExpandAct"
            android:label="@string/expandable"/>

        <activity android:name=".PreferAct"/>
        <activity android:name=".tts0515.AudioTrackPlayer"/>
        <activity android:name=".tts0515.AudioTrackActivity"/>

        <receiver android:name=".SportGpsReceiver">
            <intent-filter>
                <action android:name="android.location.MODE_CHANGED" />
                <action android:name="android.location.PROVIDERS_CHANGED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>